# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
node_modules

# hostinger does not support node so i can't be auto deploy 
# so I upload dist folder and add .htaccess to go for dist folder
# for each changes make build and upload it, this changes will updated in hostinger
# dist
# dist-ssr

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
